* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffdef;
}

.content {
    background: #fff;
    display: flex;
    flex-direction: row;
    display: flex;
}

.second-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnPrincipal {
    background: #0F1318;
    color: #fff;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    text-decoration: none;
}