.infosLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnGoogle {
    background-color: #fff;
    font-size: 1em;
    font-weight: 400;
    width: 15em;
    height: 1.5em;
    border-radius: 2em;
    border: 1px solid #7A7A7A;
    cursor: pointer;   
}